.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.app-container-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
}

.app-container-children {
  width: 87%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}

.navbar {
  /* margin: 46px 35px 0px 35px; */
  margin-top: 35px;
  width: 90%;
  height: 74px;
  border-bottom: 2px solid #5c5c5c;
  /* align-self: center; */
}

.navbar-content {
  font-size: 38px;
  font-weight: 400;
  color: #3e4153;
  line-height: 57px;
}
