.sidebar-link {
  display: flex;
  background-color: rgba(239, 239, 239, 0.4);
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
}
.sidebar-link > a {
  text-decoration: none;
  color: #000000;
}
.sidebar-link > img {
  margin: 0px 5px;
}

.without-image {
  margin-left: 50px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 120vh;
}

.sidebar-content > div:first-child {
  flex-grow: 1; /* push the last div to the bottom */
}