.signup-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 100vh;
  }
  
  .login-account {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }